extends layouts/common
block content
    h3 Web app to implement encrypt and decrypt files
    h4 Support files:
        span.badge.badge-primary Text(txt)
        span.badge.badge-secondary Image(jpg/png)
        span.badge.badge-success Video(wmv)
        span.badge.badge-info Audio(mp3)
        span.badge.badge-danger PDF(pdf)
