extends ../layouts/common
block content
    if error
        .alert.alert-danger(role='alert')=error
    form(action="/upload", method="POST",enctype="multipart/form-data")
        .form-group
            label(for="file") Choose file
            input#file.form-control(name="file", type="file")
            label(for="key") Choose key
            input#key.form-control(name="file", type="file")
        button.btn.btn-primary(type="submit") Submit

