extends ../layouts/common
block content
    if error
        .alert.alert-danger(role='alert')=error
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        strong File encrypted!
        | You must submit file key to decrypt it.
    form(action="/view/"+file.id, method="POST",enctype="multipart/form-data")
        .form-group
            label(for="file") Choose key
            input#key.form-control(name="file", type="file")
        button.btn.btn-primary(type="submit") Submit