extends ../layouts/common
block content
    form(action="/decrypt", method="POST",enctype="multipart/form-data")
        .form-group
            label(for="file") Choose file
            input#file.form-control(name="file", type="file")
            label(for="key") Choose key
            input#key.form-control(name="file", type="file")
        button.btn.btn-primary(type="submit") Submit

